body{
	background-color: #343434;
	background-attachment: fixed;
	margin: 0 auto;
}

a:link {text-decoration:none; font-weight: 400; font-size: 16px;}  
			/* no line */
	a:link {color:white;}    /* unvisited link */
	a:visited {color:white;}  /* visited link */
	a:hover {color:#343434;}   /* mouse over link */


.wrapper{
	font-family: Brandon Grotesque, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #CCCACA;
	text-align: center;
	letter-spacing: 0.5px;
	word-spacing: 0.8px;
}


.title{
	margin-top: 70px;
	font-family: Wisdom Script Ai;
	font-size: 78px;
	color: #F2673C;
}


#map{
	position: relative;
	height: 307px;
	width: 600px;
	margin: 20px auto;
	background:url(worldmap.png);
}


.tooltip{
	position: absolute;
	height: 5%;
	left: 4.5%;
	top: 20%;
	width: 2%;
	text-decoration: none;
	color: black;
	opacity: 0.9;
	font-weight: 400;
	font-size: 12px;
	z-index: 500;
}

.tooltip span {
	position: absolute;
	visibility: hidden;
}

.tooltip:hover span, .tooltip:focus span{
	left: 40px;
	top: -60px;
	width: 200px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;

}

.tooltip1{
	position: absolute;
	height: 5%;
	left: 4%;
	top: 26%;
	width: 2%;
	text-decoration: none;
	color: black;
	opacity: 0.9;
	font-weight: 400;
	font-size: 12px;
	z-index: 500;
}

.tooltip1 span {
	position: absolute;
	visibility: hidden;
}

.tooltip1:hover span, .tooltip1:focus span{
	left: 40px;
	top: -60px;
	width: 300px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.tooltip2{
	position: absolute;
	height: 5%;
	left: 19%;
	top: 21%;
	width: 2%;
	text-decoration: none;
	color: black;
	opacity: 0.9;
	font-weight: 400;
	font-size: 12px;
	z-index: 400;
}

.tooltip2 span {
	position: absolute;
	visibility: hidden;
}

.tooltip2:hover span, .tooltip2:focus span{
	left: 40px;
	top: -60px;
	width: 350px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.tooltip3{
	position: absolute;
	height: 5%;
	left: 83%;
	top: 41%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:100;
}

.tooltip3 span {
	position: absolute;
	visibility: hidden;
	z-index:1;
}

.tooltip3:hover span, .tooltip3:focus span{
	left: 40px;
	top: -60px;
	width: 240px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.tooltip4{
	position: absolute;
	height: 5%;
	left: 46%;
	top: 18%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:300;
}

.tooltip4 span {
	position: absolute;
	visibility: hidden;
}

.tooltip4:hover span, .tooltip4:focus span{
	left: 40px;
	top: -60px;
	width: 300px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.tooltip5{
	position: absolute;
	height: 5%;
	left: 27%;
	top: 60%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:350;
}

.tooltip5 span {
	position: absolute;
	visibility: hidden;
}

.tooltip5:hover span, .tooltip5:focus span{
	left: 40px;
	top: -60px;
	width: 200px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.tooltip6{
	position: absolute;
	height: 5%;
	left: 17%;
	top: 33%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:400;
}

.tooltip6 span {
	position: absolute;
	visibility: hidden;
}

.tooltip6:hover span, .tooltip6:focus span{
	left: 40px;
	top: -60px;
	width: 340px;
	padding: 20px;
	background: white;
	visibility: visible;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
	z-index: 1;
}


.nyc{
	position: absolute;
	height: 5%;
	left: 21%;
	top: 19%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:400;
}

.nyc span {
	position: absolute;
	visibility: hidden;
}

.nyc:hover span, .nyc:focus span{
	left: 40px;
	top: -60px;
	width: 250px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.morocco{
	position: absolute;
	height: 5%;
	left: 43%;
	top: 29%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:300;
}

.morocco span {
	position: absolute;
	visibility: hidden;
}

.morocco:hover span, .morocco:focus span{
	left: 40px;
	top: -60px;
	width: 250px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}

.greece{
	position: absolute;
	height: 5%;
	left: 52%;
	top: 23%;
	width: 2%;
	text-decoration: none;
	color: black;
	font-weight: 400;
	opacity: 0.9;
	font-size: 12px;
	z-index:300;
}

.greece span {
	position: absolute;
	visibility: hidden;
}

.greece:hover span, .greece:focus span{
	left: 40px;
	top: -60px;
	width: 250px;
	padding: 15px;
	background: white;
	visibility: visible;
	z-index: 1;
	border-radius: 5px;
	-moz-transition: background .4s linear;
	-ms-transition: background .4s linear;
	-o-transition: background .4s linear;
	transition: background .4s linear;
}


.orange{
	background-color:#F2673C;
	font-family: Brandon Grotesque, sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: black;
	text-align: center;
	letter-spacing: 0.5px;
	word-spacing: 0.8px;
	padding: 100px;
}


@font-face {
	font-family: Brandon Grotesque;
	src: url(Brandon_reg.otf);
}

@font-face{
	font-family: Wisdom Script Ai;
	src: url(Wisdom Script.otf);
}